doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title EB 2021
    link(rel='canonical' href='https://getbootstrap.com/docs/4.3/examples/starter-template/')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='css/main.css')
    style.
      body{
      padding-top:50px;
      }
      .starter-template{
      padding:40px 15px;
      }
  body(data-ng-app='app')
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top(data-ng-controller='menuController')
      a.navbar-brand(href='#' data-ng-bind='appName')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Szavazás
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/match') Meccsek
          li.nav-item
            a.nav-link(href='/team') Csapatok
          
    block content 
    
    script(src='js/lib.min.js') 
    script(src='js/eb-app2.min.js')